/* You can add global styles to this file, and also import other style files */


body {

  background: url("./assets/img/bureau2.jpg") no-repeat;
  padding: 20px;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

