.logo {
  width: 50px;
  height: 50px;
  float: right;
  padding: 10px;
}

.container-header {
  font-size: 30px;
  font-weight: bold;
}

nav {
  //background-color: ivory;

}
/*
nav > ul > li {
  float: left;
  position: relative;
}
nav li {
  list-style-type: none;
}
nav > ul::after {
  content: "";
  display: block;
  clear: both;
}
nav a {
  display: inline-block;
  text-decoration: none;
}
nav > ul > li > a {
  padding: 10px 20px;
  color: #290000;
}
h1  {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}*/
