<form (ngSubmit)="onSubmit()" [formGroup]="poneyForm">
  <label>Nom
    <input type="text" placeholder="nom" formControlName="name">
  </label>


  <label>Age
    <input type="number" placeholder="age" formControlName="age">
  </label>


  <label>Couleur
    <input type="text" placeholder="couleur" formControlName="color">
  </label>

  <label>Taille
    <input type="number" placeholder="taille" formControlName="size">
  </label>

  <button type="button">Annuler</button>
  <button type="submit" [disabled]="poneyForm.invalid">sauver</button>

</form>
