<app-header></app-header>

<div class="container">

  <ul>
    <li class="nav-item">
      <a [routerLink]="['about']">about</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['']">home</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['poneys']">poneys</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
